name: Checks

on:
  pull_request:
  push:
    branches:
      - main
  workflow_call:
  workflow_dispatch:

jobs:
  checks:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Install uv
        uses: astral-sh/setup-uv@v7
      - name: Check uv.lock
        run: |
          uv sync
          git diff --exit-code
      - name: Lint the code
        run: uvx --from rust-just just lint
      - name: Run unit tests
        run: uvx --from rust-just just test-unit
      - name: Check the command reference
        run: uvx --from rust-just just check-command-reference
