name: Run using pipx

on:
  pull_request:
  workflow_call:
  workflow_dispatch:

jobs:
  functional:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - name: Install pipx
        run: |
          sudo apt-get update
          sudo apt-get install -y pipx
      - name: Run gimmegit
        run: pipx run --spec . gimmegit --version
